@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.navbar {
  width: 100%;
  height: 75px;
  background-color: black;
  display: flex;
  justify-content: center;
  position: relative;
}

.left {
  flex: 2;
  display: flex;
}

.left > img {
  width: 75px;
  height: 75px;
  left: 40px;
  position: relative;
}

.left > span {
  width: 175px;
  height: 75px;
  left: 40px;
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  font-size: 15px;
  text-decoration: none;
  font-family: "Kaushan Script";
}

.right {
  flex: 3;
  display: flex;
  align-items: center;
}

.right > ul {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  list-style: none;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.right > ul > li,
.right > ul > li > a {
  text-decoration: none;
  color: white;
}

.right > ul > li:hover,
.right > ul > li > a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}

.menuicon {
  display: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu.open {
  animation: slideDown 0.3s ease;
}

.personCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personCircle > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.person-box {
  display: flex;
  gap: 15px;
  cursor: pointer;
  position: relative;
}

.profile-menu {
  position: absolute;
  top: 25px;
  right: -25px;
  width: 160px;
  background-color: #000000;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.profile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 2px solid white;
}

.profile-menu li {
  display: block;
  padding: 10px 16px;
  cursor: pointer;
}

.profile-menu a {
  text-decoration: none;
  color: #ffffff;
}

.pro-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pro-inner > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .right > ul {
    font-size: 12px;
  }
}
@media (max-width: 799px) {
  .right > ul {
    display: none;
    position: absolute;
    top: 35px;
    right: 0;
    width: 40%;
    flex-direction: column;
    gap: 40px;
    padding: 20px 0;
    text-align: center;
    background-color: black;
    z-index: 1000;
  }

  .right > ul > li:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
  }

  .right > ul.open {
    display: flex;
  }

  .menuicon {
    display: block;
  }

  .right {
    justify-content: flex-end;
    padding-right: 20px;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
