.order-bar {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  left: 5%;
}

.order-bar-left,
.order-bar-right {
  flex: 1 1 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.order-bar-left > div {
  width: 100%;
  color: black;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-bar-left > div > .textfield {
  width: 100%;
  max-width: 550px;
  background-color: white !important;
  border: 1px solid #182c61 !important;
}

.order-bar-right > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.order-bar-right > div > .view-button-2 {
  width: 200px;
  background-color: white !important;
  border: 2px solid #182c61 !important;
  color: #182c61 !important;
}

@media (max-width: 1024px) {
  .order-bar-left,
  .order-bar-right {
    width: 100%;
    padding: 30px;
  }
}

@media (max-width: 900px) {
  .order-bar {
    flex-direction: column;
  }

  .order-bar-left,
  .order-bar-right {
    width: 82%;
  }
}

@media (max-width: 480px) {
  .order-bar-left > div {
    font-size: 14px;
  }

  .order-bar-left > div > label {
    margin-left: 8px;
  }

  .order-bar-right > div > button {
    width: 100%;
  }
}
