.forgotOuter {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202124;
}

.forgotInner {
  width: 400px;
  height: 300px;
  border-radius: 30px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.forgotInner h2 {
  padding-top: 20px;
  color: #000000;
  font-size: 26px;
}

.forgotInner .textfile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotInner .textfile-box .textfield {
  width: 330px;
  height: 50px !important;
  background-color: #dbdeee;
  border-color: none;
  outline: none;
}

.error-text {
  color: #e74c3c;
  font-size: 10px;
  margin: 0;
  width: 98%;
}

.forgotInner .button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotInner .button-box .button {
  width: 340px;
  height: 50px !important;
  margin-top: 0 !important;
}

/* ------------------OTP---------------------------- */

.forgotInner div{
  display: flex;
  gap: 17px;
}

.forgotInner div .otpfield{
  width: 70px !important;
  height: 50px !important;
  padding-left: 0 !important;
  text-align: center;
  font-size: 18px;
}