.productCard-outer {
  width: 180px;
  max-width: 180px;
  height: 250px;
  border: 2px solid #182c61;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.productCard-image {
  width: 100%;
  max-width: 150px;
  height: 150px;
  border: 1px solid #000000;
}

.productCard-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productCard-details {
  display: flex;
  width: 100%;
  max-width: 150px;
  justify-content: space-between;
}

.productCard-details > span {
  padding-top: 10px;
  text-decoration: none;
  font-size: 13px;
  color: #000000;
  font-weight: 500;
}

.productCard-button {
  width: 100%;
  max-width: 160px;
  height: 30px;
  background-color: #182c61;
  border-radius: 20px;
  margin-top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
  cursor: pointer;
}

@media (max-width: 400px) {
  .productCard-outer {
    width: 280px;
    max-width: 280px;
  }

  .productCard-details,
  .productCard-image,
  .productCard-button {
    max-width: 250px;
  }

.productCard-details > span {
  text-align: center;
}
}
